Package: unfsd
Version: @VER@-1
Description: Userspace NFS daemon
Section: base
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://unfs3.sourceforge.net
Source:
Depends: portmap
