Package: msgbox
Version: 1.12-1
Description: Neutrino-HD msgbox Plugin
Section: extras
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: https://gitorious.org/~martii/neutrino-hd/martiis-neutrino-hd-plugins
Source:
Depends: libfreetype.so.6
