Package: sg3_utils-base
Version: @VER@-1
Description: The sgutils library and the sg_start utility
Section: base
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://sg.danny.cz/sg/sg3_utils.html
Source:
Depends:
Provides: libsgutils2.so.2, sg_start
