Package: howl
Version: @VER@-1
Description: Cross platform implementation of Zeroconf/Rendezvous
Section: extras/utils
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://sourceforge.net/projects/howl
Source: http://sourceforge.net/projects/howl
Depends: @DEP@
