Package: libpcap
Version: @VER@-1
Description: Packet Capture library
Section: extras/libraries
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://www.tcpdump.org/
Source:
Depends:
Provides: libpcap.so.1
