# The type of box to build for.
# either "tripledragon" or "coolstream"
# default (if empty) is "coolstream"
#PLATFORM=tripledragon

# if you want to use your precompiled toolchain, define those variables:
# this will skip the building of our own compiler/glibc combination!
#
# do not set this if you want to build a toolchain with these makefiles.
#CROSS_DIR=/opt/cross
#TARGET=arm-linux-gnueabi

# if /usr/share/libtool/config/config.guess does not supply a valid
# build type, specify it here. THIS IS A WORKAROUND. Use with caution.
# BUILD=x86_64-unknown-linux-gnu

#
#
# set the flavour of neutrino you want to build
# "neutrino-hd":              use git://gitorious.org/neutrino-hd/neutrino-hd-experimental.git
# "neutrino-hd-tripledragon": use git://gitorious.org/neutrino-hd/neutrino-hd-tripledragon.git
# empty: choose one of the above depending on PLATFORM
#FLAVOUR=neutrino-hd-tripledragon
