Package: links
Version: @VER@-1
Description: Neutrino-HD Text-Mode Web Browser Plugin
Section: extras
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://links.twibright.com/
Source:
Depends: libjpeg.so.62 libpng12.so.0 libz.so.1 libssl.so.0.9.8 libcrypto.so.0.9.8
