Package: links
Version: 2.2.99.1-1
Description: Neutrino-HD Text-Mode Web Browser Plugin
Section: extras
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://links.twibright.com/
Source:
Depends: libjpeg.so.62 libpng12.so.0 libz.so.1 libdirectfb-1.4.so.0 libfusion-1.4.so.0 libdirect-1.4.so.0
