Package: libdlna
Version: 0.2.99.439-2
Description: Reference implementation of DLNA standards
Section: extras/libraries
Priority: optional
Maintainer: @MAINT@
Architecture: all
Homepage: http://libdlna.geexbox.org
Source:
Depends: libupnp(> 0.16.10-1)
