Package: aaa_base
Version: 1-1
Description: Base Installation Files, including init scripts and config
Section: base
Priority: required
Maintainer: @MAINT@
Architecture: noarch
Homepage: http://gitorious.org/neutrino-hd/buildsystem-cs
Source:
Depends: timezone
