Package: ushare
Version: 1.1a.451-3
Description: A free UPnP A/V & DLNA Media Server
Section: extras/servers
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://ushare.geexbox.org
Source:
Depends: libdlna >= 0.2.99.439-1
