Package: ushare
Version: @VER@-1
Description: A free UPnP A/V & DLNA Media Server
Section: extras/servers
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://ushare.geexbox.org
Source:
Depends: @DEP@
