Package: glibc
Version: @VER@-1
Description: The GNU C library
Section: base/libraries
Priority: required
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://www.gnu.org/software/libc/
Source:
Depends:
Provides: libc.so.6
