Package: autofs
Version: 4.1.4-1
Description: Automounter Kernel Module and Userspace Daemon
Section: base
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://www.kernel.org/pub/linux/daemons/autofs
Source:
Depends:
