Package: gdb
Version: @VER@-1
Description: The GNU Debugger, gdb built for debugging on the target
Section: base
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://www.gnu.org/software/gdb/
Source: ftp://sourceware.org/pub/gdb/releases/
Depends: libc.so.6 libncurses.so.5 libz.so.1
