Package: mc
Version: 4.6.2-2
Description: A Visual File Manager for the Text Console
Section: extras/comsole
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://www.midnight-commander.org/
Source:
Depends: libglib(>= 2.8.6-1)
