Package: libcurl
Version: @VER@-1
Description: Client-side URL Transfer Library
Section: base/libraries
Priority: standard
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://curl.haxx.se
Source:
Depends: libz.so.1
Provides: libcurl.so.4
