Package: libupnp
Version: @VER@-1
Description: Portable SDK for UPnP Devices
Section: extras/libraries
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://pupnp.sourceforge.net
Source:
Depends: @DEP@
Provides: @PROV@
