Package: libupnp
Version: 1.6.10-3
Description: Portable SDK for UPnP Devices
Section: extras/libraries
Priority: optional
Maintainer: @MAINT@
Architecture: arm
Homepage: http://pupnp.sourceforge.net
Source:
Depends:
