Package: gst-plugins-good
Version: @VER@-1
Description: A set of good-quality GStreamer plug-ins
Section: extras/libraries
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://gstreamer.freedesktop.org/
Source:
Depends: @DEP@
Provides: @PROV@
