Package: tuxwetter
Version: 3.04-1
Description: Neutrino-HD Tuxwetter Plugin
Section: extras
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://gitorious.org/neutrino-hd/neutrino-hd-plugins
Source:
Depends: libcurl.so.4 libfreetype.so.6 libz.so.1
