Package: libglib
Version: 2.8.6-2
Description: General-Purpose Utility Library
Section: extras/libraries
Priority: optional
Maintainer: @MAINT@
Architecture: arm
Homepage: http://www.gtk.org/
Source:
Depends:
Provides: libgmodule-2.0.so.0, libgthread-2.0.so.0, libglib-2.0.so.0, libgobject-2.0.so.0
