Package: libglib
Version: @VER@-1
Description: General-Purpose Utility Library
Section: extras/libraries
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://www.gtk.org/
Source:
Depends: @DEP@
Provides: @PROV@
