Package: ffmpeg
Version: 0.6-1
Description: ffmpeg Audio/Video Processing Libraries
Section: base/libraries
Priority: standard
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://ffmpeg.org/
Source:
Depends:
Provides: libavdevice.so.52, libavformat.so.52, libavutil.so.50, libavcodec.so.52
