Package: neutrino-hd-td
Version: 1.0-1
Description: The neutrino-HD STB GUI
Section: extras/servers
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://gitorious.org/neutrino-hd/neutrino-hd-tripledragon
Source:
Depends: @DEP@
