Package: libpng16
Version: @VER@-1
Description: Portable Network Graphics Library
Section: base/libraries
Priority: standard
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://www.libpng.org/
Source:
Depends: @DEP@
Provides: @PROV@
