Package: valgrind
Version: 3.6.1-1
Description: A programming tool for memory debugging, memory leak detection, and profiling.
Section: base
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://valgrind.org/
Source:
Depends: libc.so.6
