Package: cs-drivers
Version: @VER@-1
Description: Drivers and Firmware for Coolstream HD1 Hardware
Section: base/drivers
Priority: required
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://coolstreamtech.com/
Source:
Depends: cs-libs (>= 941)
Conflicts: cs-beta-drivers
