Package: libz
Version: 1.2.5-1
Description: Zlib Compression Library
Section: base/libraries
Priority: standard
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://www.zlib.net/
Source:
Depends:
Provides: libz.so.1
