Package: rsync
Version: 3.0.7-1
Description: Utility For Fast Incremental File Transfer
Section: base
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://rsync.samba.org
Source:
Depends:
