Package: usb-modeswitch
Version: @VER@-1
Description: usb_modeswitch
Section: extras
Priority: standard
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://http://www.draisberghof.de/usb_modeswitch
Source:
Depends: usb-modeswitch-data
Provides: usb_modeswitch
