Package: libfreetype
Version: 2.3.12-1
Description: A Free, High-Quality, and Portable Font Engine
Section: base/libraries
Priority: standard
Maintainer: @MAINT@
Architecture: arm
Homepage: http://www.freetype.org/
Source:
Depends: libz.so.1
Provides: libfreetype.so.6
