Package: directfb
Version: 0.9.24-1
Description: DirectFB drivers for the Tripledragon Settopbox
Section: base/drivers
Priority: standard
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage
Source:
Provides: libdirect-0.9.so.24, libdirectfb-0.9.so.24, libfusion-0.9.so.24
Depends: td-drivers
