Package: cs-beta-drivers
Version: @VER@-1
Description: Beta drivers and Firmware for Coolstream HD1 Hardware
Section: base/drivers
Priority: required
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://coolstreamtech.com/
Source:
Depends: cs-libs (>= 1608)
