Package: avahi
Version: @VER@-1
Description: Facilitates service discovery on a LAN via the mDNS/DNS-SD protocol suite.
Section: extras/utils
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: http://avahi.org/
Source: http://avahi.org/
Depends: @DEP@
