Package: libvorbis
Version: 1.2.3-1
Description: Libraries to Decode and work with Vorbis Bitstreams
Section: base/libraries
Priority: standard
Maintainer: @MAINT@
Architecture: arm
Homepage: http://www.xiph.org/vorbis
Source:
Depends: libogg.so.0
Provides: libvorbis.so.0, libvorbisfile.so.3
