Package: input
Version: 1.08-1
Description: Neutrino-HD input Plugin
Section: extras
Priority: optional
Maintainer: @MAINT@
Architecture: @ARCH@
Homepage: https://gitorious.org/~martii/neutrino-hd/martiis-neutrino-hd-plugins
Source:
Depends: libfreetype.so.6
